$primary: #38598b;
$secondary: #a2a8d3;
$body-bg: #113f67;
$light: #e7eaf6;

.depp-flix {
  background-color: $primary;
}

.hr {
  border: 1px solid #a2a8d3;
  align-self: center;
}

.bg {
  background-color: $body-bg;
}

.txt-dark {
  color: $primary;
}

.txt {
  color: $light;
}

.danger {
  color: red;
}

.pointer {
  cursor: pointer;
}

button.navbar-toggler {
  border-color: $light;
  color: $light;
}

span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.span.navbar-toggler-icon {
  background-color: $light;
}

input.form-control,
input.form-control:hover,
input.form-control:active,
input.txt.form-control,
input.txt.form-control:hover,
input.txt.form-control:active {
  color: $light;
}

@import '~bootstrap/scss/bootstrap.scss';